/******** CUSTOM SELECT ******************************/
.dropdown-container {
  width: 250px;
  margin: 100px auto;
  position: relative;
}

.customSelect {
  width: 100%;
  height: 50px;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
  background-color: #c0392b;
  border: none;
  border-bottom: 2px solid #962d22;
  color: white;
  appearance: none;
  padding: 10px;
  padding-right: 38px;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
}

/* For IE <= 11 */
.customSelect::-ms-expand {
  display: none; 
}

.customSelect:hover,
.customSelect:focus {
  color: white;
  background-color: blue;
  border-bottom-color: darkblue;
}
.customSelect:hover, select:focus {
  fill: #c0392b;
}
/******** END CUSTOM SELECT ******************************/

.customTextarea {
  width: 200px;
  height: 50px;
  background-color: #c0392b;
  color: white;
}
.customTextarea::placeholder {
  color: white;
}
.autocompleteInput {
  width: 400px;
}